.Navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: .2vw 2.5vw;
    position: fixed;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
    top: 0;
}
.Navbar img{
    width: 20%;
}
.Navbar ul{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}
.Navbar li{
    padding: 0.5vw 1vw;
    color: var(--black);
    font-size: 1.05vw;
}
.Navbar li h3{
    font-weight: 450;
}
.Navbar li button{
    font-size: 1.1vw;
    margin: .1vw .5vw;
    font-weight: 400;
}
.Navbar li h3:hover{
    color: var(--gold);
}
.BarsNav{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: .2vw 2.5vw;
    background-color: var(--white);
    top: 0;
}
.BarsNav button{
    font-size: 5.5vw;
}
.BarsNav img{
    width: 40%;
    margin: 0 auto;
}
.BarsSide{
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    padding-top: 18vw;
    color: var(--black);
}
.BarsSide ul{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.BarsSide li{
    padding: 0.7vw;
    color: var(--black);
    font-size: 3.5vw;
}
.BarsSide li h3{
    font-weight: 450;
}
.BarsSide li button{
    font-size: 3.6vw;
    margin: .1vw .5vw;
    font-weight: 400;
    margin-top: 0.5vw;
}
.BarsSide li h3:hover{
    color: var(--gold);
}
@media screen and (max-width: 650px) {
    .Navbar{
        display: none;
    }
    .BarsNav{
        display: flex;
    }
}
@media screen and (max-width: 550px) {
    .BarsSide li{
        font-size: 4.5vw;
    }
    .BarsSide li button{
        font-size: 4.6vw;
    }
}
@media screen and (max-width: 450px) {
    .BarsSide li{
        font-size: 5.0vw;
    }
    .BarsSide li button{
        font-size: 5.1vw;
    }
}
@media screen and (max-width: 400px) {
    .BarsSide li{
        font-size: 5.0vw;
    }
    .BarsSide li button{
        font-size: 5.1vw;
    }
}