*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .7s;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    cursor: default;
}
input,select,button{
    background: none;
    border: none;
    cursor: pointer;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    /* background-color: black; */
}
.container{
    width: 100%;
    padding: 7% 2%;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.3);
}
:root{
  --black: #000;
  --white: #FFF;
  --gray: rgba(197, 179, 179, 0.767);
  --gold: rgb(255, 187, 0);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.Tel{
    color: #FFF;
    background-color: rgb(26, 163, 26);
    padding: 1.3vw 1.4vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 3%;
    bottom: 5%;
}
.Tel:hover{
    animation-name: TelOnHover;
    z-index: 2;
    animation-duration: 2s;
}
.modalTel{
    background-color: white;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    z-index: 2;
    border-radius: 1vw;
    box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 8%;
    bottom: 13%;
}
.modalTel h3{
    font-size: 1.7vw;
}
.modalTel input{
    border: none;
    outline: none;
    font-size: 1.4vw;
    color: black;
}
@keyframes TelOnHover {
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 650px) {
    .Tel{
        font-size: 6vw;
        padding: 3.5vw 3.6vw;
        right: 5%;
    }
}