*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .7s;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    cursor: default;
}
input,select,button{
    background: none;
    border: none;
    cursor: pointer;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    background-color: black;
}
.container{
    width: 100%;
    padding: 7% 2%;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.3);
}
:root{
  --black: #000;
  --white: #FFF;
  --gray: rgba(197, 179, 179, 0.767);
  --gold: rgb(255, 187, 0);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}